* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  /* width: 100%; */
  height: 100vh;

  background-color: rgb(7, 13, 27);
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #ebebeb;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #ebebeb;
}

h4 {
  font-size: 20px;
  color: #ebebeb;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #ebebeb;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

.section-s {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* .title h2::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 0;
  height: 2px;
  background-color: #fec544;
} */

.icon {
  width: 20px;
  height: 20px;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.27s;
  cursor: pointer;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  transition: 0.27s;
  cursor: pointer;
}

/* HEADER  */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 80px;
  background-color: rgb(4, 9, 17);
  border-bottom: 3px solid rgb(184, 161, 161);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  font-size: 2rem;
  color: #f8ba28;
}

.hamburger-nav,
.nav-icon {
  display: none;
}

.nav-logo {
  width: 8rem;
  height: 6rem;
}

.icon {
  cursor: pointer;
}

#navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: whitesmoke;
  transition: 0.15s ease-in;
}

#navbar li a:hover,
#navbar li a.active {
  color: #fec544;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: " ";
  width: 60%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#navbar li a:hover::after {
  background: #0ab6aa;
}

/* HAMBURGER MENU */
#ham-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav .nav-icon {
  width: 35px;
  height: 37px;
  margin-right: 20px;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
}

.menu-links {
  position: absolute;

  top: 100%;
  right: 0;

  max-height: 0;
  width: fit-content;
  overflow: hidden;

  background-color: rgb(241, 231, 231);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 13px 25px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links li a:hover,
.menu-links li a.active {
  color: #088178;
}

.menu-links li a.active::after,
.menu-links li a:hover::after {
  content: " ";
  width: 60%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.menu-links.open {
  max-height: 350px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* CONTACT */

#contact .title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 15vh;
}

#contact .title h1 {
  font-size: 6rem;
  width: 100;
  letter-spacing: 6px;
  color: rgba(21, 27, 41, 0.5);
  text-align: center;
}

#contact .title h2 {
  position: absolute;
  /* top: -20%; */
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 4rem;
  font-weight: 400;
  color: #fec544;
  padding-bottom: 15px;
}

#contact .title h2::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 0;
  height: 2px;
  background-color: #fec544;
}

#contact {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: ☐ #0a101e;
  padding: 5% 10%;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.contact-container form {
  width: 50%;
}

.contact-info {
  width: 45%;
}
#contact .contact h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 15px;
  text-transform: capitalize;
}
#contact .contact-container form,
#contact .contact-container .content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* width: 100%; */
  /* gap: 20%; */
}
#contact .contact-container form input,
#contact .contact-container form textarea {
  width: 100%;
  padding: 22px 40px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: #1d2330;
  border: 1px solid #292525;
  color: #fff;
}
#contact .contact-container form input::placeholder,
#contact .contact-container form textarea::placeholder {
  font-size: 14px;
}
#contact .contact-container form button {
  padding: 20px 35px;
  background-color: #fec544;
  border-radius: 30px;
  margin: 20px 0;
}
#contact .contact-info .content p,
#contact .contact-info .content .box a {
  color: #a9adb8;
  font-size: 17px;
}

#contact .contact-info .icon-container {
  display: flex;
  flex-direction: column;
}
#contact .contact-info .icons {
  display: flex;
  flex-direction: row;
}

#contact .contact-info .box {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

#contact .contact-info .box .icon {
  margin: 0;
  padding: 12px; /* Adjust padding for better icon centering */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

#contact .contact-info .box h3 {
  font-size: 1.5rem;

  margin-bottom: 5px;
  color: #a9adb8;
  letter-spacing: 0.5px;
  font-weight: 300;
}
#contact .contact-info h3 {
  font-size: 1.5rem;
}

#contact .contact-info .box .email,
#contact .contact-info .box .phone,
#contact .contact-info .box .address {
  flex: 1;
}

#contact .contact-info .icon-container h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #ebebeb;
}

#contact .icon-container .icon {
  font-size: 50px;
  color: #a9adb8;
  margin: 0 2px;
  /* border: 1px solid #646060;
  border-radius: 28px; */
  height: 30px;
  width: 30px;
  padding: 0 0px 0 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #070d1b;
  cursor: pointer;
  transition: all 0.6s ease;
}

#contact .icon-container .icon1 {
  margin: 0px 2px 0px 0px;
}

#copy {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ☐ #070d1b;
}
#copy a {
  color: #333333;
  text-decoration: none;
  cursor: default;
}
#copy a span {
  text-decoration: underline;
  cursor: pointer;
}
